* {
    font-family: IBM Plex Mono,Menlo,DejaVu Sans Mono,Lucida Console,monospace;
    padding: 0;
    margin: 0;
}


body {
    height: 100vh;
}

:root{
    box-sizing: border-box;
    background-color: var(--main-color);
    color: #FFF;
    --main-color: #0f1117;
    --second-color: #27313a;
    --third-color: #13181c;

    --clr-border: #27313a;
    --clr-bg: #171d23;
}

.header {
    height: 36px;
    padding: 10px;
}

.navbar{
    background-color: var(--second-color);
    padding: 10px;
    display: flex;
    height: 16px;
    text-transform: uppercase;
    text-align: center;
}

.CodeMirror {
    height: 100% !important;
}

.main {
    display: flex;
    margin-top: 5px;
    height: calc(100% - 113px);
}

.editor {
    width: 100%;
    height: 100%;
}

.output {
    width: 450px;
    border-right: 1px solid var(--clr-border);
    background-color: var(--clr-bg) !important;

    padding: 1rem;
}

.target {
    width: 450px;
    border-right: 1px solid var(--clr-border);
    background-color: var(--clr-bg) !important;

    padding: 1rem;
}

textarea{
    width: 100%;
    height: 100%;
}

.editor button{
    margin: 0 auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: blue;
    color: white;
    width: 100px;
    display: block;
}

.sub {
    position: fixed;
    left: 1rem;
    bottom: 3rem;
    z-index: 99;
    background-color: #5d2bbf !important;
    font-weight: bold;
}
.splash {
    visibility: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: white;

    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
    gap: 1rem;
}

.splash.show {
    visibility: visible;
    animation: fadeIn 1s;
}

.perc {
    font-size: 4rem;
    font-weight: bold;
    color: black;

}
:root{
  --w: 500px;
  --h: 50px;
  --o: 10px;

  --nw: calc(var(--w) + var(--o));
  --nh: calc(var(--h) + var(--o));
}
.perc-ctn {
    background-color: white;
    position: absolute;
    left: calc(50% - var(--w)/2);
    margin-top: calc(var(--o) / 2);
    width: var(--w);
    height: var(--h);
    clip: rect(0px, 0, var(--h), 0);
    transition: clip 1s;
    display: flex;
    justify-content: center;
}

.perc-otl {
    position: absolute;
    left: calc(50% - var(--nw)/2);
    width: var(--nw);
    height: var(--nh);
    background-color: black;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.editor button:hover{
    background-color: aqua;
    cursor: pointer;
}

.output .score h6{
    padding: 20px;
    background-color: var(--third-color);
}

h4 {
    width: fit-content;
    text-transform: uppercase;
}

.target {
    background-color: #27313a;
}

.color-to-use {
    width: 100% !important;
    background-color: transparent !important;
}

.target ul{
    list-style: none;
    display: flex;
    justify-content:left;

}


.target li {
    width: fit-content;
    display: flex;
}

.target div {
    width: 1rem;
    height: 1rem;
    background-color: #0f1117;
    border-radius: 50%;
}

.target ul li{
    background-color: green;
    margin-right: 5px;
    padding: 5px;
    border-radius: 50px;

}

.footer{
    padding: 10px;
    text-align: center;
    background-color: black;
    position: fixed;
    bottom: 0;
    height: 16px;
    width: 100%;
    text-transform: uppercase;
}


.container {
    position: relative;
    width: 400px;
    height: 300px;

    background-color: var(--clr-border);
    border: none;
}
