:root {
    font-size: 16px;
}

* {
    font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono, Lucida Console,
        monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.counter {
    font-size: 7rem;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

.row div {
    flex: 40%;
    text-align: center;
}

.row:not(:first-child) div:first-child::before {
    content: "#";
}

.row div:first-child {
    flex: 10%;
}

.row:first-child {
    font-weight: 800;
    /*font-size: 1.25rem;*/
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
    font-size: 1.5rem;
}

.table {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 1rem;

    height: 50%;
    width: 60%;
}