:root {
  font-size: 16px;
}

* {
  padding: 0;
  margin: 0;
}

td {
  text-align: center;
}

table {
  width: 100vw;
  background-color: transparent;
  border-spacing: 1rem;
}

td,
th {
  width: 45%;
  border-radius: 1rem;
  padding: 2rem;
  background-color: gainsboro;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

td {
  animation: animate 1s linear;
}

@keyframes animate {
  from {
    scale: 0px;
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0vh);
  }
}

.cls {
  width: 10%;
}
