:root {
    font-size: 16px;
}

* {
    font-family: IBM Plex Mono, Menlo, DejaVu Sans Mono, Lucida Console,
        monospace;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.counter {
    font-size: 7rem;
    font-weight: 800;
}

.container {
    display: flex;
    flex-direction: column;

    justify-content: space-evenly;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

td {
    text-align: center;
}

.row div {
    flex: 40%;
    text-align: center;
}

.row div:first-child {
    flex: 10%;
}

.row:first-child {
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.row {
    display: flex;
}

.table {
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 1rem;

    height: 50%;
    width: 60%;
}

td,
th {
    width: 45%;

    padding: 2rem;
    background-color: white;
    /* box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); */
}

td {
    animation: animate 1s linear;
}

th {
    border: 1px solid black;
}

.cls {
    width: 10%;
}
